.navbar{
  /* padding: 100px; */
  /* padding:40px; */
}



#carouselTitle{
  position: absolute;
  top: 0;
  /* left: 43%; */
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  text-align: center;
  opacity: .7;
  font-size: 120px;
  text-shadow: 5px 5px 5px #222;

}

.row{
  padding-top: 10px;
  padding-bottom: 10px;
}


 @media screen and (max-width: 540px){
  #carouselTitle{
    font-size: 72px;
  }
} 

