.myCarousel {
  position: relative;
}

#carouselTitle{
  position: absolute;
  z-index: 2;
  top: 32%;
  left: 0;
  width: 100%;
  color: #eee;
  opacity: .6;
  font-size: 72px;
  text-shadow: 5px 5px 5px #222;


}


