
body{
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Permanent Marker', cursive;
}
.row{
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel{
  background: url(../images/bg/footer_lodyas.png);
}

#carouselTitle{
  position: absolute;
  top: 0;
  /* left: 43%; */
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  text-align: center;
  opacity: .7;
  font-size: 120px;
  text-shadow: 5px 5px 5px #222;

}


.event{
  background: url(../images/bg/subtle_white_feathers.png);
}

.about{
  background: url(../images/bg/subtle_white_feathers.png);
  
}

 @media screen and (max-width: 540px){
  #carouselTitle{
    font-size: 72px;
  }
} 

